<div class="container mb-10">
  <h1 class="text-2xl font-semibold my-4">#<%= @chatroom.name %></h1>

  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>

    <%= f.submit :create, class: 'px-4 py-2 bg-blue-400 rounded text-white' %>
  <% end %>
</div>
